name: Build a docker image and push to Docker Hub
on: [push]
jobs:
    build-and-push:
        runs-on: ubuntu-latest
        steps:
        - name: Checkout repository
          uses: actions/checkout@v2
        - name: Run script
          run: bash dep.sh
        - name: Log in to Docker Hub
          uses: docker/login-action@v3
          with:
            username: ${{ secrets.DOCKER_HUB_USERNAME }}
            password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

        - name: Build and push Docker image
          uses: docker/build-push-action@v5
          with:
            context: .
            push: true
            tags: siva1403/${{date}}-${{time}}:latest
    scan-docker-image:
        runs-on: ubuntu-latest
        needs: build-and-push
        steps:
        - name: Scan Docker image for vulnerabilities
          uses: aquasecurity/trivy-action@master
          with:
            image-ref: siva1403/${{date}}-${{time}}:latest
            format: 'table'
            exit-code: '1'
            vuln-type: 'os,library'
            severity: 'CRITICAL,HIGH'
            ignore-unfixed: true
