name: Build a docker image and push to Docker Hub
on:
  push:
    branches:
      - master
jobs:
    build-and-push:
        runs-on: ubuntu-latest
        outputs:
          timestamp: ${{ steps.timestamp.outputs.TIMESTAMP }}
        steps:
        - name: Checkout repository
          uses: actions/checkout@v2
        - name: Generate timestamp
          id: timestamp
          run: echo "TIMESTAMP=$(date +%s)" >> $GITHUB_OUTPUT
        - name: Run script
          run:  bash dep.sh
        - name: Create output directory
          run: mkdir -p "GitHub Actions/Trivy "
        - name: Move JAR to repo root
          run: |
           mkdir -p "GitHub Actions/artifacts " 
           cp target/*.jar "GitHub Actions/artifacts/sa${{ steps.timestamp.outputs.TIMESTAMP }}.jar"
        - name: Log in to Docker Hub
          uses: docker/login-action@v3
          with:
            username: ${{ secrets.DOCKER_HUB_USERNAME }}
            password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
        - name: Build and push Docker image
          uses: docker/build-push-action@v5
          with:
            context: .
            push: true
            tags: siva1403/${{ steps.timestamp.outputs.TIMESTAMP }}:latest       
        - name: Verify scan results exist       
          run: ls -l "GitHub Actions/Trivy/"
        - name: Run Trivy vulnerability scanner
          run: |
            OUTPUT_FILE="GitHub Actions/Trivy/sa${{ steps.timestamp.outputs.TIMESTAMP }}.json"
            mkdir -p "GitHub Actions/Trivy"
            trivy image --format json --ignore-unfixed --vuln-type os,library --severity CRITICAL,HIGH,MEDIUM,LOW -o "$OUTPUT_FILE" siva1403/${{ steps.timestamp.outputs.TIMESTAMP }}:latest
        - name: Verify scan results exist
          run: ls -l "GitHub Actions/Trivy/"
        - name: Commits scan results to repository
          env:
            GITHUBTOKEN: ${{ secrets.GITHUBTOKEN }}
          run: |
            git config --global user.name "GitHub Actions"
            git config --global user.email "actions@github.com"
            git add "GitHub Actions/artifacts/sa${{ steps.timestamp.outputs.TIMESTAMP }}.jar"
            git add "GitHub Actions/Trivy/sa${{ steps.timestamp.outputs.TIMESTAMP }}.json"
            git commit -m "Add Trivy scan results (${{ steps.timestamp.outputs.TIMESTAMP }})"
            git push origin HEAD:master
        - name: Email Notification
          if: always()
          uses: dawidd6/action-send-mail@v3
          with:
            server_address: smtp.gmail.com
            server_port: 587
            username: ${{ secrets.EMAIL_USER }}
            password: ${{ secrets.EMAIL_PASS }}
            subject: '[${{ job.status }}] ${{ github.workflow }} #${{ github.run_number }}'
            to: k.s.krishna1403@gmail.com
            from: github-actions@yourorg.com
            body: |
              Workflow status: ${{ job.status }}
              Run: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}