name: Build a docker image and push to Docker Hub
on: [push]
jobs:
    build-and-push:
        runs-on: ubuntu-latest
        outputs:
          timestamp: ${{ steps.timestamp.outputs.TIMESTAMP }}
        steps:
        - name: Checkout repository
          uses: actions/checkout@v2
        - name: Run script
          run: bash dep.sh
        - name: Set timestamp
          run: echo "TIMESTAMP=$(date +%s)" >> $GITHUB_OUTPUT
          id: timestamp
        - name: Log in to Docker Hub
          uses: docker/login-action@v3
          with:
            username: ${{ secrets.DOCKER_HUB_USERNAME }}
            password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

        - name: Build and push Docker image
          uses: docker/build-push-action@v5
          with:
            context: .
            push: true
            tags: siva1403/${{ steps.timestamp.outputs.TIMESTAMP }}:latest
        - name: Scan Docker image for vulnerabilities
          uses: aquasecurity/trivy-action@master
          with:
            image-ref: siva1403/${{ steps.timestamp.outputs.TIMESTAMP }}:latest
            format: 'table'
        - name: Run Trivy scan and save to file
          run: |
             mkdir -p count
             trivy fs -f json -o count/trivy-results.json .    
        - name: Configure git user
          run: |
            git config --global user.name "github-actions"
            git config --global user.email "github-actions[bot]@users.noreply.github.com"
        - name: scan results
          run: |
            git add count/trivy-results.json
            git commit -m "chore(ci): count/${{ steps.timestamp.outputs.TIMESTAMP }}"
        - name: Upload Trivy scan results as an artifact (optional)
          uses: actions/upload-artifact@v4
          with:
           name: scan-report
           path: count/trivy-results.json
           retention-days: 5