name: Build a docker image and push to Docker Hub
on: [workflow_dispatch]
jobs:
    build-and-push:
        runs-on: ubuntu-latest
        outputs:
          timestamp: ${{ steps.timestamp.outputs.TIMESTAMP }}
        steps:
        - name: Checkout repository
          uses: actions/checkout@v2
        - name: Run script
          run: bash dep.sh
        - name: Set timestamp
          run: echo "TIMESTAMP=$(date +%s)" >> $GITHUB_OUTPUT
          id: timestamp
        - name: Log in to Docker Hub
          uses: docker/login-action@v3
          with:
            username: ${{ secrets.DOCKER_HUB_USERNAME }}
            password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

        - name: Build and push Docker image
          uses: docker/build-push-action@v5
          with:
            context: .
            push: true
            tags: siva1403/${{ steps.timestamp.outputs.TIMESTAMP }}:latest
        - name: Scan Docker image for vulnerabilities
          uses: aquasecurity/trivy-action@master
          with:
            image-ref: siva1403/${{ steps.timestamp.outputs.TIMESTAMP }}:latest
            format: 'table'
        - name: Run Trivy vulnerability scanner
          run: |
              OUTPUT_FILE="GitHub Actions/Trivy/scan-results-${{ steps.timestamp.outputs.TIMESTAMP }}.json"
              mkdir -p "GitHub Actions/Trivy"
        - name: Verify scan results exist
          run: |
           ls -l "GitHub Actions/Trivy/"
           git config --global user.name "GitHub Actions"
           git config --global user.email "actions@github.com"
           git add "GitHub Actions/Trivy/scan-results-${{ steps.timestamp.outputs.TIMESTAMP }}.json"
           git commit -m "Add Trivy scan results (${{ steps.timestamp.outputs.TIMESTAMP }})"
           git push origin HEAD:main
      #  - name: Commit scan results to repository
      #    env:
       #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
       # run: |
          